{% extends 'default/index.html.twig' %}

{% block title %}livres - BiblioSteak{% endblock %}

{% block body %}
    <div id="display-book">

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        displayAllBook();
    });
    </script>
{% endblock %}