{% extends 'default/index.html.twig' %} {% block body %}

<div id="results"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    displayResults();
  });
</script>

{% endblock %}
